body {
    @include fluid-text(18, 16);

    font-family: var(--font-family-base);
    font-weight: 400;
    font-size: 18px;
    color: var(--text);
    line-height: 1.38;
    // text-align: justify;
    text-align: start;
    background-color: var(--bg);
}
a,
button,
input,
svg * {
    transition-duration: var(--transition-duration);
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4 {
    font-weight: 500;
    color: var(--text);
    // margin: 0;
}

h1,
.h1 {
    @include fluid-text(60, 43);
}

h2,
.h2 {
    @include fluid-text(40, 36);
}

h3,
.h3 {
    @include fluid-text(28, 26);
}

h4,
.h4 {
    @include fluid-text(22, 20);
}

*::-webkit-scrollbar {
    width: 10px; /* ширина scrollbar */
    height: 8px;
}

*::-webkit-scrollbar-track {
    background: var(--bg); /* цвет дорожки */
}

*::-webkit-scrollbar-thumb {
    background-color: var(--bg-dark); /* цвет плашки */
    border-radius: 20px; /* закругления плашки */
    border: 1px solid var(--text-accent); /* padding вокруг плашки */
}
