@use 'media' as *;
@use 'mixins' as *;

.container {
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    margin-inline: auto;
    padding-inline: var(--container-padding-x);
    // padding-bottom: var(--sections-padding-y);
}

.container-small-layout {
    max-width: calc(var(--container-width-small) + var(--container-padding-x-small) * 2);
    margin-inline: auto;
    padding-inline: var(--container-padding-x-small);
}
.container-small {
    max-width: calc(var(--container-width-small) + var(--container-padding-x-small) * 2);
    margin-inline: auto;
    padding-inline: var(--container-padding-x-small);
    @include mobile-s() {
        padding-inline: 0px;
    }
}

.flex {
    display: flex;
}

.row {
    display: flex;
    align-items: center;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.column {
    display: flex;
    flex-direction: column;
}

.between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.between-start {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.max-width {
    width: 100%;
}

.gap-min {
    gap: var(--min);
}
.gap-xxs {
    gap: var(--xxs);
}
.gap-xs {
    gap: var(--xs);
}
.gap-s {
    gap: var(--s);
}
.gap-m {
    gap: var(--m);
}
.gap-l {
    gap: var(--l);
}
.gap-xl {
    gap: var(--xl);
}

.visually-hidden {
    @include visually-hidden;
}

.hidden-mobile {
    @include mobile {
        display: none !important;
    }
}
.visible-mobile {
    @include mobile-above {
        display: none !important;
    }
}
