.OrderCard {
    display: flex;
    gap: 16px;
    padding: 16px;
    background-color: var(--bg);
    border: 1px solid var(--bg-dark);
    border-radius: 12px;
    // max-width: 580px;

    h4,
    p {
        margin: 0;
    }
    // .status {
    //     background-color: #f3ddae;
    // }
}

.OrderCard:hover {
    border: 1px solid var(--text-accent);
}
