.MultSelect {
}
.options {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-radius: 6px;
    background-color: var(--bg);
    overflow: none;
    border: 2px solid var(--bg-dark);
}
