@import '@/app/styles/mixins.scss';
.Button {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: var(--text);
    gap: 8px;
    padding: 8px 16px;
    // &:not(:disabled):hover {
    //     color: var(--text-accent);
    // }
}

.filled {
    background: var(--bg-light);
    border: none;
    outline: none;
    padding: 8px 16px;
    border-radius: 34px;
}

.accent_button {
    background: var(--text-accent);
    border: none;
    outline: none;
    border-radius: 12px;
    color: var(--bg-light);
}

.icon_button {
    @include flex-center();
    @include square(42px);
    background: transparent;
    border: 1px solid var(--text-accent);
    border-radius: 12px;
    color: var(--bg-light);
    padding: 0;
}

.outline {
    background: none;
    border: 2px solid var(--icon-redesigned);
    border-radius: 34px;
}

.outline_cancel {
    border: 2px solid var(--cancel-redesigned);
    color: var(--cancel-redesigned);
    background: none;
    border-radius: 34px;
}
.outline_save {
    border: 2px solid var(--save-redesigned);
    background: none;
    color: var(--save-redesigned);
    border-radius: 34px;
}

.disabled {
    cursor: default;
    opacity: 0.5;
}

.fullWidth {
    width: 100%;
}

.addonLeft,
.addonRight {
    display: flex;
}

// .withAddon {
//     padding: 0 2px 0 12px;
// }
