@import '@/app/styles/mixins.scss';
.CardsSwiper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 30px;
    border-top: solid 2px var(--bg-light);
    user-select: none;

    .blockNavigation {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .link {
            @include flex-center();
            gap: 5px;
            background-color: var(--bg-light);
            padding: 10px 20px;
            border-radius: 24px;

            .arrowIcon {
                transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
                rotate: -90deg;
                color: var(--text);
            }
        }

        .link:hover {
            .arrowIcon {
                transform: translateY(5px);
                color: var(--text-accent);
            }
        }
    }

    .cardList {
        max-width: 1210px;
        .Swiper {
            padding: 10px 50px 50px 50px;
        }
    }
}
