.Dropdown {
    position: relative;
    cursor: pointer;
    // width: 100%;
}

.menu {
    background: var(--bg);
    position: absolute;
    // min-width: 260px;
    border-radius: 12px;
    border: 2px solid var(--bg-light);
    padding: 10px 0px;
    width: 100%;
    z-index: var(--dropdown-z-index);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: var(--shadow);
    &:focus {
        outline: none;
    }
}
.itemWrapper {
    display: flex;
    align-items: center;
}
.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 20px;
    border: none;
    // border-bottom: 2px solid var(--bg-dark);
    font-weight: 400;
    width: 100%;
    background: none;
    outline: none;
    color: var(--text);
    cursor: pointer;
}
.circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    // border: 1px solid var(--bg-dark);
    margin-left: 20px;
    // background: var(--bg-dark);
}

.borderedCircle {
    border: 1px solid var(--bg-dark);
    background-color: transparent;
}
.filledCircle {
    background-color: var(--bg-dark);
}
