.popup {
    position: relative;
    display: inline-block;
}
.menu {
    width: max-content;
    overflow: hidden;
}
.active {
    background: var(--bg-light);
    color: var(--text-accent);
}

.trigger {
    background: none;
    outline: none;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}
.optionsBottomLeft {
    top: 100%;
    right: 0;
}

.optionsBottomRight {
    top: 100%;
    left: 0;
}

.optionsTopRight {
    bottom: 100%;
    left: 0;
}

.optionsTopLeft {
    right: 0;
    bottom: 100%;
}
.optionsCenter {
    top: 100%;
    left: -40%;
}
