.Background {
    position: relative;
    width: 100%;
    min-height: 100vh;
    .background1 {
        position: absolute;
        width: 600px;
        z-index: -1;

        // min-height: 100vh;
        // background: var(--bg-dark-30);
    }
    .background2 {
        position: absolute;
        width: 540px;
        z-index: -1;
        // min-height: 100vh;
        // background: var(--bg-dark-30);
    }
}
