.Tabs {
    width: 100%;

    .tabs {
        display: flex;
        gap: 30px;
    }
    .activeTab {
        color: var(--text-accent);
        border: 2px solid var(--text-accent);
        transform: scale(1.1);
    }
}
