.app_dark_theme {
    --bg: #252525;
    --bg-inverted: #f5f5f5;
    --light-bg: #000000;
    --dark-bg: #000000;
    --color-rgb: 0, 0, 0;
    --text: #ffffff;
    --text-inverted: #000000;
    --skeleton-bg: #191b27;

    --loader: #8295d4;
    --button-bg: rgba(255, 255, 255, 0.8);
    --text-invert: #141c1f;
    --hint: #555555;
    --cancel: #d95757;
    --error: #fa4b4b;
    --save: #6cd98b;
    --icon: #74a2b2;
    --accent: #71aaeb;
    --selection: #71aaeb;
    --shadow-menu: #71aaeb59;
}
