:root {
    --bg: #fef9f3;
    --bg-light: #f8ede2;
    --bg-dark: #ebc6bb;

    --bg-light-30: rgba(248, 237, 226, 0.3);
    --bg-dark-30: rgba(235, 198, 187, 0.3);

    --text: #343434;
    --text-accent: #a33e25;

    --bg-inverted: #252525;
    --color-rgb: 255, 255, 255;
    --text-inverted: #ffffff;
    --skeleton-bg: #e3e4eb;

    --button-bg: rgba(40, 41, 54, 0.8);
    --loader: #5c73c0;
    --text-invert: #ffffff;
    --hint: #adbcc0;
    --cancel: #ff7777;
    --error: #f85757;
    --save: #62de85;
    --icon: #5ed3f3;
    --accent: #0077ff;
    --selection: #0077ff;
    --shadow-menu: #1d59ff36;
}
