:root {
    --bg: #f5f5f5;
    --bg-inverted: #252525;
    --light-bg: #ffffff;
    --dark-bg: #ffffff;
    --color-rgb: 255, 255, 255;
    --text: #000000;
    --text-inverted: #ffffff;
    --skeleton-bg: #e3e4eb;

    --button-bg: rgba(40, 41, 54, 0.8);
    --loader: #5c73c0;
    --text-invert: #ffffff;
    --hint: #adbcc0;
    --cancel: #ff7777;
    --error: #f85757;
    --save: #62de85;
    --icon: #5ed3f3;
    --accent: #0077ff;
    --selection: #0077ff;
    --shadow-menu: #1d59ff36;
}
