@import '@/app/styles/media.scss';

.Breadcrumb {
    .link {
        color: var(--text-accent-light);
        font-size: 20px;
        @include hover() {
            color: var(--text-accent);
        }
    }

    .link:not(:last-child)::after {
        content: '>';
        color: var(--text);
        margin-left: 10px;
        margin-right: 10px;
    }
}
