.ProductDetails {
    .description {
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding-inline: 50px;
        .title {
            margin: 0;
        }
        .text {
            font-size: 22px;
        }
    }
}
.cartIcon {
    fill: var(--bg-light);
}
