.Pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;

    button {
        padding: 8px 16px;
        background-color: var(--bg-light);
        border: 1px solid var(--bg-dark);
        border-radius: 12px;
        cursor: pointer;
    }
    button:hover {
        border: 1px solid var(--text-accent);
        color: var(--text-accent);
    }
    .arrowIcon {
        width: 14px;
        height: 14px;
        rotate: -90deg;
    }
}
