.CommentContainer {
    width: 100%;

    .noAuth {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        h3 {
            color: var(--text-accent);
        }
    }
}
