.Orders {
    display: flex;
    flex-direction: column;
    .OrderDataTable {
        height: 680px;
    }
    .OrderListCart {
        display: flex;
        flex-direction: column;
        gap: 10px;
        overflow: hidden;
        overflow-y: auto;
        height: 650px;
        width: fit-content;
        padding: 0px 20px;
    }
}
