.header {
    --headerHeight: 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--headerHeight);
    background: var(--bg);

    .header-left {
        width: 600px;
        height: var(--headerHeight);
        background: var(--bg-light);

        &-block {
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 540px;
            height: var(--headerHeight);
            background: var(--bg-dark);

            &-links {
                display: flex;
                gap: 32px;
                a {
                    padding: 10px;
                    @include hover() {
                        background: var(--bg-light);
                        border-radius: 50%;
                    }
                }
                &-active {
                    background: var(--bg-light);
                    border-radius: 50%;
                }
            }
        }
    }

    .header-right {
        @include flex-center;
        gap: 32px;
        &-block {
            @include flex-center;
            gap: 32px;

            // height: var(--headerHeight);
            // background: var(--bg-dark);

            &-link {
                @include flex-center;
                @include square(42px);

                @include hover() {
                    background: var(--bg-dark);
                    border-radius: 50%;
                }
                &-active {
                    background: var(--bg-dark);
                    border-radius: 50%;
                }
            }
        }
    }
}
