.swiper-pagination-bullet {
    background-color: var(--text-accent) !important;
}

.swiper-pagination-bullet-active {
    background-color: var(--text-accent) !important;
}

.swiper-button-next,
.swiper-button-prev {
    color: var(--text-accent) !important;
}
