@import '@/app/styles/media.scss';

.SortSize {
    display: flex;
    flex-direction: column;
    gap: 18px;
    max-width: 260px;

    .title {
        font-size: 22px;
    }

    .sizes {
        .sizesNum {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            align-items: center;
            justify-content: center;

            button {
                cursor: pointer;
                font-size: 23px;
                width: 50px;
                height: 42px;
                border: 1px solid var(--bg-dark);
                background-color: var(--bg);
                border-radius: 13px;

                @include hover {
                    border: 1px solid var(--text-accent);
                    color: var(--text-accent);
                }
            }
            .btnActive {
                border: 1px solid var(--text-accent);
                color: var(--text-accent);
            }
        }
    }

    .priceBlock {
        display: flex;
        flex-direction: column;
        gap: 20px;
        .price {
            // display: flex;
            // align-items: center;
            padding: 10px 8px;
            cursor: pointer;
            border: 1px solid var(--bg-dark);
            background-color: var(--bg);
            border-radius: 13px;
        }

        // .slider {
        //     padding-block: 24px;
        // }

        button {
            cursor: pointer;
            padding: 10px 20px;
            background: var(--bg);
            border: 1px solid var(--bg-dark);
            border-radius: 13px;
            font-weight: 500;
            @include hover {
                border: 1px solid var(--text-accent);
                color: var(--text-accent);
            }
        }
    }
}
