.FavoritesList {
    background-color: var(--bg);
    border: 2px solid var(--bg-dark);
    padding: 40px 28px;
    border-radius: 12px;
    height: 600px;
    width: 510px;

    .empty {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        gap: 30px;
        .emptyTitle {
            text-align: center;
        }
    }
    .list {
        overflow: hidden;
        max-height: 400px;
        overflow-y: auto;
    }
}

.loader {
    margin: auto;
}
